@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 224 71.4% 4.1%;
		--card: 0 0% 100%;
		--card-foreground: 224 71.4% 4.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 224 71.4% 4.1%;
		--primary: 262.1 83.3% 57.8%;
		--primary-foreground: 210 20% 98%;
		--secondary: 220 14.3% 95.9%;
		--secondary-foreground: 220.9 39.3% 11%;
		--muted: 220 14.3% 95.9%;
		--muted-foreground: 220 8.9% 46.1%;
		--accent: 220 14.3% 95.9%;
		--accent-foreground: 220.9 39.3% 11%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 20% 98%;
		--border: 220 13% 91%;
		--input: 220 13% 91%;
		--ring: 262.1 83.3% 57.8%;
		--radius: 0.3rem;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
	}

	.dark {
		--background: 224 71.4% 4.1%;
		--foreground: 210 20% 98%;
		--card: 224 71.4% 4.1%;
		--card-foreground: 210 20% 98%;
		--popover: 224 71.4% 4.1%;
		--popover-foreground: 210 20% 98%;
		--primary: 263.4 70% 50.4%;
		--primary-foreground: 210 20% 98%;
		--secondary: 215 27.9% 16.9%;
		--secondary-foreground: 210 20% 98%;
		--muted: 215 27.9% 16.9%;
		--muted-foreground: 217.9 10.6% 64.9%;
		--accent: 215 27.9% 16.9%;
		--accent-foreground: 210 20% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 20% 98%;
		--border: 215 27.9% 16.9%;
		--input: 215 27.9% 16.9%;
		--ring: 263.4 70% 50.4%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}

	body,
	#sidebar-all nav {
		padding-top: env(safe-area-inset-top);
		padding-bottom: env(safe-area-inset-bottom);
	}
	main {
		@apply px-1;
	}
}

@layer components {
	.w-app {
		@apply mx-auto w-full max-w-[40rem]; /* outline outline-dashed outline-white/50; */
	}
	.s-link {
		@apply cursor-pointer decoration-accent underline-offset-2 hover:underline-offset-1 underline hover:decoration-2 decoration-1 transition-all;
	}
	.s-input {
		@apply outline outline-1 outline-primary border-primary;
	}
	.nav-link {
		@apply transition-all;
	}
	.nav-link:not(.active) {
		@apply cursor-pointer hover:border-primary hover:border-l-4 hover:pl-2;
	}
	.nav-link.active {
		@apply border-l-4 border-opacity-50 pl-2 text-opacity-70;
	}
}
@layer utilities {
	.h1 {
		@apply my-4 text-3xl sm:text-4xl md:text-5xl lg:text-6xl; /* font-display;*/
	}
	.h1 .sub {
		@apply text-lg sm:text-xl md:text-2xl;
	}
	.d1 {
		@apply my-4 text-4xl sm:text-5xl md:text-6xl lg:text-8xl tracking-tight; /* font-display;*/
	}
	.h2 {
		@apply my-4 text-2xl md:text-3xl lg:text-4xl; /* font-display;*/
	}
	.d2 {
		@apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl; /* font-display;*/
	}
	.h3 {
		@apply mb-3 mt-1 text-xl md:text-2xl; /* font-display;*/
	}
	.h3 > p {
		@apply text-sm opacity-80 md:text-base;
	}
	.h4 {
		@apply my-2 text-lg md:text-xl; /* font-display;*/
	}
	.h5 {
		@apply my-2 text-lg font-bold;
	}
	.px-min {
		@apply px-2 sm:px-3 md:px-4 lg:px-6;
	}
}
